@font-face {
  font-family: anak;
  src: url(/src/assets/fonts/Anek_Malayalam/static/AnekMalayalam/AnekMalayalam-Regular.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #002F24;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Styling for Navbar component with media queries */
/* Navbar Styling Start */

.navbar-brand {
  font-size: 35px;
}

.offcanvas-title {
  font-size: 45px;
}

.offcanvas-body {
  font-size: 28px;
}

@media screen and (max-width: 450px) {
  .navbar-brand {
    font-size: 20px;
    margin-left: 0 !important;
  }
  .nav-link {
    font-size: 20px;
  }
  
}
/* Navbar Component Styling End */

/* Intro Component Styling Start */

.Intro {
  background-image: url(./img/parkImg.png);
}

@media screen and (min-width: 300px) {
  #projectCard {
    margin-top: -100px !important;
    
  }
}

@media screen and (min-width: 750px) {
  #projectCard {
    width: 50% !important;
  }
}

@media screen and (min-width: 1000px) {
  #projectCard {
    width: 100% !important;
    margin-top: 0 !important;
  }
}


/* Intro Component Styling End */

/* Admin Component Styling Start  */

@media screen and (min-width: 750px) {
  #projectCardAdmin {
    width: 50% !important;
  }
}

@media screen and (min-width: 1000px) {
  #projectCardAdmin {
    width: 100% !important;
    margin-top: 0 !important;
  }
}


/* Admin Component Styling End  */


/* Pages Styling Start */
/* NewTicket Styling Start */




/* NewTicket Styling End */

/* Pages Styling End */